.map {
  width: 100vw;
  height: 90vh;
  background-color: #d4e4e4;
}

.map-slider {
  background-color: #030d0f;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
}

.map-slider > input[type=range] {
  width: 220px;
  margin: 4 auto;
  margin-top: 6px;
}