html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
 
}
#street-view {
  height: 25%;
  width: 45%;
  top: 75%;
  position: relative;
}

#map{
  top: 7%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.map2 {
  width: 100vw;
  height: 75vh;
  background-color: #000000;
  z-index: 0
}
.checkbox1 {
  color: #ffffff;
  padding-left: 10px;
}

.map2-slider {
  background-color: #030d0f;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
}

.map2-slider > input[type=range] {
  width: 220px;
  margin: 4 auto;
  margin-top: 6px;
}
#story1 {
  background-color:#FFFF00;
  height:40px;
  width:200px;
  position: absolute;
  left: 3%;
}
#story2 {
  background-color:#FFFF00;
  height:40px;
  width:200px;
  position: absolute;
  left: 20%;
}